@font-face {
  font-family: "Celtasmigoria";
  src: url("./fonts/celtasmigoria.woff");
}

body {
  margin: 0;
}

h1 {
  color: #000;
  font-family: "Celtasmigoria";
}

.main {
  background-image: url("/map.jpg");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}

.main__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.4;
  z-index: -1;
}

.main__wrapper {
  width: 80%;
}

.question__wrapper {
  margin-bottom: 30px;
}

.question {
  font-family: "Celtasmigoria";
  font-size: 20px;
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
}

.question_help {
  text-align: center;
  color: #fff;
}

.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.form_btn {
  height: 50px;
  border-radius: 10px;
  background-color: #000;
  color: #fff;
}

.input {
  margin-bottom: 20px;
  height: 40px;
  border-radius: 10px;
  border: none;
  outline: none;
}

.answer__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.answer {
  font-family: "Celtasmigoria";
  font-size: 20px;
  text-align: center;
  color: #fff;
}

.answer a {
  color: #fff;
  text-decoration: none;
}
